.body {
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  background-color: #2A2C2F;
  color: white;
  justify-content: start;
  border: 2px solid green;
}