.photo-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto 92px auto;
}

@media screen and (max-width: 1184px) {
  .photo-grid {
    margin-left: 3%;
    margin-right: 3%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1184px) {
  .photo-grid {
    width: 1184px;
  }
}

@media screen and (max-width: 769px) {
  .photo-grid {
    margin-bottom :88px;
  }
}

@media screen and (max-width: 540px) {
  .photo-grid {
    margin-bottom: 64px;
  }
}