.places {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto 92px auto;
}

@media screen and (max-width: 1055px) {
  .places {
      margin: 0 3% 92px 3%;
  }
} 

@media screen and (max-width: 769px) {
  .intro {
    margin: 0 3% 90px 3%;
  }
}