.header__logo {
  margin: 0;
  padding: 0;
  height: 52px;
  width: 176px;
  border: 1px solid green;
}

@media screen and (max-width: 520px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}