.header {
  margin: 28px auto 56px auto;
  padding: 0;
  display: flex;
  max-width: 1184px;
}

@media screen and (max-width: 1184px) {
  .header {
    margin-left: 3%;
    margin-right: 3%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1184px) {
  .header {
    width: 1184px;
  }
}