@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  src: url(/vendor/Inter-ExtraBold.woff2) format("woff2"),
       url(/vendor/Inter-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url(/vendor/Inter-Regular.woff2) format("woff2"),
       url(/vendor/Inter-Regular.woff) format("woff");
}


.header {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 28px 3.125% 48px 3.125%;
  border: 1px solid green;
}