.footer__nav_link {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid green;
}

.footer__nav_link:nth-of-type(2n) {
  margin-left: 18px;
  margin-right: 18px;
}