.intro {
  box-sizing: border-box;
  max-width: 984px;
  margin: 0 auto 92px auto;
}

@media screen and (max-width: 1024px)  {
  .intro {
    max-width: 690px;
    margin-left: 48px;
    margin-right: 48px;
  }
} 

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin-bottom: 88px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 340px){
  .intro {
    max-width: 288px;
    margin: 0 16px 64px 16px;
  }
}


