@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  src: url(/vendor/Inter-ExtraBold.woff2) format("woff2"),
       url(/vendor/Inter-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url(/vendor/Inter-Regular.woff2) format("woff2"),
       url(/vendor/Inter-Regular.woff) format("woff");
}


.cover {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0 auto 92px auto;
  max-width: 1184px;
  border: 2px solid blue;
}