.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto 92px auto;
  background-image: url(../../images/cover-trains.jpg);
  background-size:auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 740px;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .cover {
      margin-left: 0;
      margin-right: 0;
      min-height: 640px;
  }
} 

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-bottom: 64px;
    min-height: 200px;
  }
}