@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  src: url(/vendor/Inter-Bold.woff2) format("woff2"),
       url(/vendor/Inter-Bold.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url(/vendor/Inter-Black.woff2) format("woff2"),
       url(/vendor/Inter-Black.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url(/vendor/Inter-Regular.woff2) format("woff2"),
       url(/vendor/Inter-Regular.woff) format("woff");
}

.cover {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 3% 92px 3%;
  background-image: url(../../images/cover-trains.jpg);
  background-size:auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 740px;
  border: 1px solid red;
}

@media screen and (max-width: 1084px) {
  .cover {
      margin: 0 0 92px;
      min-height: 640px;
  }
} 

@media screen and (max-width: 769px) {
  .cover {
    margin: 0 0 64px;
    min-height: 480px;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    min-height: 200px;
  }
}