.cover__link_text-container {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  position: absolute;
  top: calc((100% - 152px - 66px - 32px)/2);
  left: calc((100% - 560px)/2);
  margin: 0 auto;
}

@media screen and (max-width: 769px) {
  .cover__link_text-container {
    position: absolute;
    top: calc((100% - 70px - 16px - 48px)/2);
    left: calc((100% - 288px)/2);
    max-width: 280px;
  }
}