.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 47% 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr;
  row-gap: 3rem;
  column-gap: 2rem;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 320px) {
  .place {
    gap: 2rem;
  }
}