.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 47% 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr;
  gap: 2.5em;
  border: 1px solid green;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
  }
}
