.cover__link_subtitle {
  max-width: 70%;
  padding: 0;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  grid-column: 2/ span 1;
  grid-row: 3/4;
  border: 1px solid blue;
}

@media screen and (max-width: 769px) {
  .cover__link_subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 280px; 
  }
}